{% extends 'base.html' %}

{% block content %}
    <script>
        var data = {{object.json_proposals|safe}};
    </script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}jquery.ui.touch-punch.js"></script>
    
    <script type="text/javascript" src="/static/script.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    
    <div class="row-fluid">
        <div class="span12">
    
            <h1>
                Poll #{{object.id}}
            </h1>
            
            <div class="poll">
                <ul id="listDefault" class="dropList"></ul>
            </div>
            
            <form method="post">
                <input type="hidden" name="vote" id="hiddenVote">
                </textarea>
                {% csrf_token %}
                <input class="btn" type="submit" id="btnSubmit" value="Schulze The Madafaka" />
            </form>
            </div>
    </div>
{% endblock %}
